BasedOnStyle: Microsoft

IndentWidth: 4
TabWidth: 4
UseTab: Always

IndentCaseLabels: false

AlignConsecutiveAssignments:
  AlignCompound: true
  PadOperators: true

AlignConsecutiveMacros: Consecutive

AlignTrailingComments:
  Kind: Always

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortCaseExpressionOnASingleLine: false

AllowShortIfStatementsOnASingleLine: false

ColumnLimit: 80
BreakBeforeBraces: Allman
BraceWrapping:
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  IndentBraces: true

SortIncludes: Never

DerivePointerAlignment: false
PointerAlignment: Left
