BasedOnStyle: Microsoft
Language: Cpp

IndentWidth: 4
UseTab: Never

IndentCaseLabels: false

AlignConsecutiveAssignments:
  AlignCompound: true

AlignTrailingComments:
  Kind: Always

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortCaseExpressionOnASingleLine: false

AllowShortIfStatementsOnASingleLine: false

ColumnLimit: 80
BreakBeforeBraces: Allman
BraceWrapping:
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  IndentBraces: true

DerivePointerAlignment: false
PointerAlignment: Left